* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas, "Courier New", monospace;
}

body {
  background: linear-gradient(135deg, #1e1e1e, #252526);
  background-attachment: fixed;
  color: #d4d4d4;
}

/* Layout */
.app-container {
  display: grid;
  grid-template-columns: 250px 1fr 350px;
  grid-template-rows: 60px 1fr;
  height: 100vh;;
}

/* Top Bar */
.topbar {
  grid-column: 1 / 4;
  background: #007acc;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Sidebar */
.sidebar {
  background: #252526;
  padding: 15px;
  border-right: 1px solid #333;
}

.sidebar h3 {
  margin-bottom: 10px;
}

/* Editor Area */
.editor-area {
  padding: 10px;
}

/* Right Panel */
.right-panel {
  background: #252526;
  border-left: 1px solid #333;
  padding: 15px;
  overflow-y: auto;
}

/* Buttons */
button{
  display:inline-block;
  padding:8px 18px;
  border:1px solid #2aa9ff;
  background:transparent;
  color:white;
  cursor:pointer;
  align-items: center;
  border-radius:999px;   /* makes pill shape */
  font-weight:600;
  letter-spacing:0.5px;
  width:auto;            /* width = text length */
  min-width:120px;
  transition:0.25s ease;
}
button:hover{
  background:#2aa9ff;
  color:white;
  box-shadow:0 0 12px rgba(42,169,255,0.6);
}


/* Panels */
.panel {
  background: #1e1e1e;
  border: 1px solid #333;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
}

.panel h3 {
  margin-bottom: 10px;
  color: #4fc1ff;
}

pre {
  white-space: pre-wrap;
  font-size: 13px;
  line-height: 1.5;
}
